.col-md-6
  .card.card-background(style="background-image: url('" + value.img + "')")
    .content.content-video 
      a(href="player/" + value.id)
        .icon
          i.material-icons play_arrow
      h3.card-title= value.title