.navbar.navbar-transparent.navbar-absolute.so-navbar
  .container
    .navbar-header
      //-a.navbar-brand(href="/")
      a(href="/")
        .logo-container
          .logo 
            img(src="/images/logo32.png", alt="Go to home page")
          .brand.so-brand CutStream