.col-md-6
  .card.card-background(style="background-image: url('/images/jessjo.jpg')")
    .content.content-video 
      a(href="player/G1aSAQ1CibQ")
        .icon
          i.material-icons play_arrow
      h3.card-title Logan Epic Kill --- Jessica Jones Window Crack
          

.col-md-6 
  .card.card-background(style="background-image: url('/images/bp4.jpg')")
    .content.content-video
      a(href="player/Lt-U_t2pUHI")
        .icon
          i.material-icons play_arrow
      h3.card-title Benedict Cumberbatch Shows Off Doctor Strange's Hands


.col-md-6     
  .card.card-background(style="background-image: url('/images/wizard-book.jpg')")
    .content.content-video
      a(href="player/nWHUjuJ8zxE")
        .icon
          i.material-icons play_arrow
      h3.card-title Jessica Jones Mirror Crack


.col-md-6     
  .card.card-background(style="background-image: url('/images/wizard-book.jpg')")
    .content.content-video
      a(href="player/Q88JeXtKMDY")
        .icon
          i.material-icons play_arrow
      h3.card-title Black Panther Featurette      
