script(src='/javascript/wizard/jquery-2.2.4.min.js')
script(src='/javascript/jquery-ui.js')    

script(src='/javascript/slider3-view.js')


script(src='https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js')
script.
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#hiddenPlayer").fitVids();
  });
