link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')    


link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css') 


//- @todo move custom styles from html to project
//- @todo clean up different styles, that we're not using anymore


link(rel='stylesheet', href='/stylesheets/wizard/bootstrap.min.css') 
link(rel='stylesheet', href='/stylesheets/wizard/material-bootstrap-wizard.css') 

//- CSS Just for demo purpose, don't include it in your project :todo
link(rel='stylesheet', href='/stylesheets/wizard/demo.css') 


// ionRange styles
link(rel='stylesheet', href='/stylesheets/ionRange/ion.rangeSlider.css') 

link(rel='stylesheet', href='/stylesheets/ionRange/ion.rangeSlider.skinFlat.css') 