<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
    LoopBack example access control
    </title>
  </head>
  <body>
  <h1>
  Startkicker
  <% if (typeof username !== 'undefined') { %> - Welcome <%=
      username %><% } %>
  </h1>

        <form action="/postvideo" method="post">
            
            <input type="text" name="url"   value="https://youtu.be/G1aSAQ1CibQ?t=1m26s" /><br />
            <input type="text" name="start" value="86" /><br />
            <input type="text" name="end"   value="89" /><br />
            <input type="text" name="title" value="Logan Epic Kill" /><br />
            <input type="text" name="desc"  value="LOGAN Official International Red Band Trailer #1 (2017) Hugh Jackman Wolverine Marvel Movie HD" /><br />
            <input type="text" name="slug"  value="G1aSAQ1CibQ" /><br />
            <input type="text" name="step"  value="1" /><br />
            <input type="text" name="userId" value="" />

            <input type="submit" value="Update">
          </form>






  </body>
</html>
