
div#afscontainer1

script.
  var pageOptions = {
    "pubId": "pub-9616389000213823", // Make sure this the correct client ID!
    "query": "hotels",
    "adPage": 1
  };

  var adblock1 = {
    "container": "afscontainer1",
    "width": "700",
    "number": 2
  };

  _googCsa('ads', pageOptions, adblock1);  
