.col-md-6
  .card.card-background(style="background-image: url('#{url}')")
    .content.content-video 
      a(href="#{link}")
        .icon
          i.material-icons play_arrow
      h3.card-title #{title}