//script(src='/js/lib/jquery-3.1.1.min.js')
//script(src='/js/lib/bootstrap.min.js')
//script(src='/js/main.js')



script(src='/javascript/wizard/jquery-2.2.4.min.js')

script(src='/javascript/wizard/bootstrap.min.js')
script(src='/javascript/wizard/jquery.bootstrap.js')

script(src='/javascript/wizard/jquery.validate.min.js')

script(src='/javascript/wizard/material.min.js')

script(src='/javascript/wizard/material-bootstrap-wizard.js')

script(src='/javascript/wizard/maskinput-bundle.js')
script(src='/javascript/wizard/bla-bla.js')


