script(src='https://www.google.com/adsense/search/ads.js',async="async")

// other head elements from your page
script.
  (function(g,o){g[o]=g[o]||function(){(g[o]['q']=g[o]['q']||[]).push(
  arguments)},g[o]['t']=1*new Date})(window,'_googCsa');